/* Universal Styles */

html {
    /* solution for fixed header covering top of jump links sections */ 
    --top-spacing: 8rem;
    scroll-padding-top: var(--top-spacing);
  }

body {
    background-color: #FEFBF1;
    font-size: 16px;
    overflow-x: hidden;
}


/* Layout */

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    top: 5rem;
}


.flex {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Text */

h1 {
    text-transform: uppercase;
    font-family: 'Rozha One', serif;
    color: #6D5E42;
    font-size: 3.5rem;
    margin-top: 2rem;
    text-align: center;
}

h2 {
    font-family: 'lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1rem;
    margin-top: 0.5rem;
}

h3 {
    font-family: 'raleway', sans-serif;
    letter-spacing: 0.1rem;
    padding: 0.3rem;
    color: #c4d2da;
}

a {
    transition: opacity 200ms ease-out;
    text-align: center;
}

a:hover {
    opacity: 0.5;
    cursor: pointer;
}


/* CTAs */

.bio__cta, .video__cta  {
    font-family: 'Rozha One', serif;
    text-transform: uppercase;
    background-color: #314E5D;
    padding: 1rem 2rem;
    color: #FEFBF1;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    margin: 2rem 0;
    border: 0;
    transition: color 200ms ease-out, 
    background-color 700ms ease-out;
    box-shadow:  3px 3px 15px -5px #20333d,
             -3px -3px 15px -5px #f7f1de;
}

.bio__cta:hover, .video__cta:hover {
    opacity: 1;
    color: #233842;
    background-color: #87A4B2;
    /*transform: scale(1.1, 1.1);*/
}


/* Images */

.banner-container {
    width: 100%;
    height: auto;
    position: relative;
    top: 5rem;
    overflow: hidden;
}

.banner-container__img {
    max-width: 100%;
    height: auto;
}

.artwork-container {
    overflow: hidden;
}

.artwork-container__img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 8px 6px -6px #414d53;
}



/* Section by section */ 

/* Nav bar */

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: #FFF;
}
.icons {
    display: flex;
    align-items: center;
    margin-left: 0.6rem;
}

.icons a img {
    width: 2.5rem; 
    margin: 0.2rem;
    transition: transform 200ms ease-out;
    transform-origin: center;
}

.icons__tiktok a img {
    width: 1.9rem;
    transition: transform 200ms ease-out;
    transform-origin: center;
}

.logo-container {
    width: 10rem;
    /* logo is absolute centered to the view port, ensuring it will not move when link items are hovered */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.logo { 
    height: auto;
    max-width: 100%;
}


.links {
    display: flex; 
    margin-right: 0.6rem;
}

.links__item a {
    font-family: 'lato', sans-serif;
    color: #314E5D;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.6rem 0.6rem 0.6rem 0.1rem;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.1rem;
    transition: letter-spacing 400ms ease-in;

}

/* Nav bar hover transitions */

.icons a img:hover {
    transform: scale(1.5, 1.5);
}

.links__item a:hover {
    letter-spacing: 0.3rem;
    padding-left: 0.3rem;
    margin: 0 0.2rem;
}


/* Music / Latest releases */

.latest-releases {
    grid-row-start: 1;
    width: 100%;
}

.artwork-grid {
    display: grid;
    grid-template: repeat(2, 255px) / 510px 245px;
    grid-auto-flow: column;
    margin: 2.5rem 0 2.5rem 0;
}

.artwork1 {
    grid-area: 1 / 1 / 3 / 2; 
}

.artwork2 {
    grid-area: 1 / 2 / 2 / 3;
}

.artwork3 {
    grid-area: 2 / 2 / 3 / 3;
}

.artwork-grid:hover > .artwork-container {
    opacity: 0.5;
}

.artwork-grid:hover > .artwork-container:hover {
    opacity: 1;
}

.artwork1, .artwork2, .artwork3 {
transition: transform 400ms ease-in-out;
}

.artwork1:hover {
    transform: translateX(-8px);
}

.artwork2:hover {
    transform: translateX(8px);
}

.artwork3:hover {
    transform: translateX(8px);
}

/* Bio */

.bio {
    grid-row-start: 2;
    border-top: 1px solid #B6CDD8;
    border-bottom: thin solid #B6CDD8;
    position: relative;
}

.bio p {
    font-family: 'raleway', sans-serif;
    color: #314E5D;
    padding: 0.5rem;
    font-size: 1.1rem; 
    width: 80%;
    height: 80%;
    text-align: justify;
    line-height: 1.2;
    margin-top: 1.5rem;
}


/* Tour */

/* no tour dates for now 
.tour {
    grid-row-start: 3;
    margin: 4rem 0;
} */


/* Video */
/* change grid-row-start to 4 when tour section goes live */
.video {
    grid-row-start: 3;
    width: 100%;
}

.video-width {
    width: 80%;
    padding-top: 1.5rem;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;

}
.video-container__vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.video-grid {
    width: 80%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
    margin: 1.5rem 0 2rem 0;
}

/* Contact */ 
/* change grid-row-start to 5 when tour section goes live */
.contact {
    grid-row-start: 4;
    background-color: #314E5D;
    color: #FEFBF1;
    padding: 4rem;
}

.contact h1.light-blue {
    color: #87A4B2;
    padding: 0.5rem;
    margin-top: 0;
}

.contact-details__number {
    font-family:'lato', sans-serif;
}

/* Footer */

.footer {
    position: relative;
    top: 5rem;
    padding: 0.5rem 0;
    text-align: center;
    font-family:'lato', sans-serif; 
    font-weight: 400;
    color: #314E5D;
    
}

/* Media queries for tablet and mobile */

@media only screen and (max-width: 1100px) {
    html {
        --top-spacing: 0rem;
        scroll-padding-top: var(--top-spacing);
      }

    .navbar {
        position: initial;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-bottom: 2rem;
        width: 100%;
    }

    .logo-container {
        order: 1;
        padding-top: 2rem;
        /* since the navbar is no longer fixed, logo returns to the document flow, positioned relative to view port */
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    .links {
        order: 2;
        margin-top: 1rem;
        margin-right: 0;
    }

    .icons {
        order: 3;
        margin-top: 1rem;
        margin-left: 0;
    }

    .icons a img:hover {
        transform: none;
    }

    .icons a:hover {
        opacity: 1;
    }

    .icons a:focus {
        opacity: 0.5;
        outline: none;
    }
    
    .links__item a:hover {
        transition: none;
        letter-spacing: 0.1rem;
        padding: 0.6rem 0.6rem 0.6rem 0.1rem;
        margin: 0 0;
        opacity: 1;
    }

    .links__item a:focus {
        opacity: 0.5;
        outline: none;
    }

     /* reset position to initial when navbar is not fixed */
     .banner-container--initial, .grid--initial, .footer--initial {
        position: initial;  
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .artwork-grid:hover > .artwork-container {
        opacity: initial;
    }

    .artwork-container:hover {
        transform: none;
    
    }

    .bio p {
        text-align: start;
    }

    .video-width {
        width: 100%;
    }

    .video-grid {
        grid-template-columns: 1fr;
        width: 100%;
        margin: 1.5rem 0 0 0;
    }

    .contact {
        padding: 2rem 0;
    }

}

/* artwork grid break point */
@media only screen and (max-width: 765px) {
    .artwork-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: row;
        row-gap: 0.32rem;
    }

    .artwork1 {
        grid-column-start: 1;
        grid-row-start: 1;
        transition: none;
    }
    
    .artwork2 {
        grid-column-start: 1;
        grid-row-start: 2;
        transition: none;
    }
    
    .artwork3 {
        grid-column-start: 1;
        grid-row-start: 3;
        transition: none;
    }

}

/* break point for very narrow mobile screens */
@media only screen and (max-width: 425px) {
    
    .links{
        flex-flow: column wrap;
        align-items: center;
        width: 100%;
        border-top: 1px solid #414d53;
    }

    .links__item {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #414d53;
    }

    .links__item a {
        padding: unset;
        letter-spacing: 0.5rem;
        width: 100%;
        padding: 0.5rem 0 0.5rem 0;
        display: inline-block;
    }

    .links__item a:hover {
        transition: none;
        letter-spacing: 0.5rem;
        padding: 0.5rem 0 0.5rem 0;
        opacity: 1;
    }

}


